<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tranXcribe</title>
</head>
<body>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="#">About</a></li>
            </ul>
            <h3>tranXcribe</h3>
        </nav>
    </div>
    <div class="file">
        <form action="/generate" method="post" enctype="multipart/form-data">
            <input type="file" name="audio" required>
            <button type="submit">Upload</button>
        </form>
    </div>
    
    {% block content %}
    {% endblock %}
</body>
</html>